
.header{
    height: 9vh;
    padding: .2em;
}
.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end; 
    
    list-style: none;
  padding: .5em;
   
}
.header-icons li{
   padding: 0px .5em; 
}
.chat-back{
  background: url('../images/chat_back.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  
}
.bg-grey{
  background-color: #c4c1bde8;
}
.border-grey{
  border: 1px solid #c4c1bde8;

}
.chat-time{
  background-color: rgb(134, 191, 218);
  padding: .2em .4em;
  border-radius: 5px;
}
  
.receiver {
  width: auto !important;
  position: relative;
  left: 1.8em;
  padding: 4px 10px 7px !important;
  border-radius: 0 10px 10px 10px;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  display: inline-block;
}

.sender {
  
  position: relative;
  left: 13em;
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  display: inline-block;
  word-wrap: break-word;
}


/*Reply*/

.reply {
  height: 3.750em;
  width: 100%;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px !important;
  margin: 0 !important;
  z-index: 1000;
}


.reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}
.profile-view{
  height: 85vh;
  
}
.card-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  position: absolute;
  
  left: 1em;
  top: 120px;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}
.img-container{
  border-radius: 50%;
}
.img-container:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 500px;
  left:-6em;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: .7em 1.4em;
  text-align: center;
  color: white;
  text-transform: capitalize;
  border: solid 2px white;
  z-index: 1;
} 

.img-container:hover .button {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.img-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}
