
.header{
    height: 9vh;
    padding: .2em;
}
.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end; 
    
    list-style: none;
  padding: .5em;
   
}
.header-icons li{
   padding: 0px .5em; 
}
.chat-back{
  background: url('../images/chat_back.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  
}
.bg-grey{
  background-color: #c4c1bde8;
}
.border-grey{
  border: 1px solid #c4c1bde8;

}
.chat-time{
  background-color: rgb(134, 191, 218);
  padding: .2em .4em;
  border-radius: 5px;
}
  
.receiver {
  width: auto !important;
  position: relative;
  left: 1.8em;
  padding: 4px 10px 7px !important;
  border-radius: 0 10px 10px 10px;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  display: inline-block;
}

.sender {
  
  position: relative;
  left: 13em;
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  display: inline-block;
  word-wrap: break-word;
}


/*Reply*/

.reply {
  height: 3.750em;
  width: 100%;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px !important;
  margin: 0 !important;
  z-index: 1000;
}


.reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}
